<div>
  <label class="block my-5 block text-sm font-medium text-gray-700 string optional text-sm font-medium text-gray-600">
    <%= label %>
    <% if @object.attached? && object.variable? %>
      <%= image_tag @picture, class: 'border-2 border-dashed border-gray-300 mb-4' %>
      <% elsif @object.attached? %>
      <div><%= link_to @object.filename, url_for(@object) %></div>
    <% end %>
    <%= @form.file_field @field, class: "font-normal block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 file:mr-5 file:py-2 file:px-6 file:border-0 pr-5" %>
  </label>
</div>
